:root {
  --font-family: 'Almendra', serif;
  --base-font-size: 16px;
  --line-height: 1.5;
  --font-weight: 400;
  
  --color-text: #222222;           
  --background-color: #f5f5f5;     
  --accent-color: #39ff14;         
  --border-color: #222;            
}

html {
  font-family: var(--font-family);
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* TODO: Add media queires for fast reactive dynmic window changes*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
