---
import headerStyles from "../../../styles/header/header.module.css"
import SocialMediaLinks from "./SocialMediaLinks.astro"
---

<div class={headerStyles.contactBackground}>
    <div class={headerStyles.contactContainer}>
        <a 
            href="tel:+17326147713"
            class={headerStyles.contactTextContainer}
        >
            <img src="/icons/telephone.svg"/>
            Call: 
            <span class={headerStyles.contactNumberLink}>
                +1 (732) 614 - 7713
            </span>
        </a>
        <SocialMediaLinks />
    </div>
</div>