---
import headerStyles from "../../../styles/header/header.module.css"
import SocialMediaLinks from "./SocialMediaLinks.astro"
---

<div class={headerStyles.contactBackground}>
    <div class={headerStyles.contactContainer}>
        <div class={headerStyles.contactTextContainer}>
            <span>Call:</span>
            <a href="tel:+17326147713">
                +1 (732) 614 - 7713
            </a>
        </div>
        <SocialMediaLinks />
    </div>
</div>