---
import socialStyles from "../../../styles/header/header.module.css"
---

<div class={socialStyles.socialMediaLinksContainer}>
    <a 
        href="https://www.instagram.com/alb_cosmetology?igsh=MTZ0eGt5c25hcG1ldQ=="
        class={socialStyles.socialMediaIcon}
    >
        <img src="/icons/instagram.svg" />
    </a>
    <a 
        href="https://www.linkedin.com/in/ashley-barreira-4abb133a1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
        class={socialStyles.socialMediaIcon}
    >
        <img src="/icons/linkedin.svg" />
    </a>
    <a class={socialStyles.socialMediaIcon}>
        <img src="/icons/tiktok.svg" />
    </a>
</div>