---
import socialStyles from "../../../styles/header/header.module.css"
---

<div class={socialStyles.socialMediaLinksContainer}>
    <a class={socialStyles.socialMediaIcon}>
        <img 
            src="instagram.svg"
         />
    </a>
    <a class={socialStyles.socialMediaIcon}>
        <img 
            src="linkedin.svg"
        />
    </a>
</div>