---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="ALB Cosmetology | Contact"
	description="This page is used to contact the cosmetologist in case of any bookings"
>
	<h1>This is the contact page of the website</h1>
</PageLayout>
