---
import "../styles/global.css"
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="ALB Cosmetology | Home"
	description="ALB Cosmetology is a website that functions as a portfolio, contact hub, and booking system for a licensed cosmetologist."
>
	<h1>This is the home page of the website</h1>
</PageLayout>
