---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="ALB Cosmetology | Legal"
	description="The Legal Page for ALB Cosmetology"
>
	<h1>This is the legal page of the website</h1>
</PageLayout>
