---
import "../styles/global.css"
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="ALB Cosmetology | Portfolio"
	description="This is the page to show off all of the amazing works that the cosmetologist has done"
>
	<h1>This is the portfolio page of the website</h1>
</PageLayout>
