---
import "../styles/global.css"
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="ALB Cosmetology | Pricing"
	description="This is the page to look at the prices for all of the services provided by the cosmetologist"
>
	<h1>This is the pricing page of the website</h1>
</PageLayout>
