---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="ALB Cosmetology | Services"
	description="This page will be used to purchase services from the cosmetologist"
>
	<h1>This is the services page of the website</h1>
</PageLayout>
