---
import headerStyles from "../../styles/header/headerStyles.module.css"
---

<div class={headerStyles.contactContainer}>
    <a href="tel:+17326147713" style="textDecoration: none; color: #222222; fontSize: 14px">
        Call: +1 (732) 614 - 7713
    </a>
</div>