---
import footerStyles from "../../styles/footer/footer.module.css"
---


<div class={footerStyles.footerContentBackground}>
    <div class={footerStyles.footerContentTextContainer}>
        <a href="/" class={footerStyles.footerLink}>
            IMAGE
        </a>
        <p class={footerStyles.footerLink}>
            This is the Footer Content
        </p>
    </div>
</div>