---
import legalStyles from "../../styles/footer/footer.module.css"
---

<div class={legalStyles.legalBackground}>
    <div class={legalStyles.legalTextContainer}>
        <span>Copyright © 2026 ALB Cosmetology</span>
        <span> | </span>
        <a href="/legal">Legal</a>
    </div>
</div>