.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerContentBackground {
    background-color: var(--header-green);
}

.footerContentTextContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.8rem 0 0.8rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold-main); 
    gap: 1rem;
    white-space: nowrap;
}

.footerLinkContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(1rem, 3vw, 3rem);

  justify-items: center;
  align-items: start;

  font-size: clamp(0.9rem, 0.85rem + 0.30vw, 1.12rem);
  line-height: 1.45;
}


.footerLinkList {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerLinkList a {
    color: inherit;
    text-decoration: none; 
}

.footerLogo {
  width: clamp(140px, 18vw, 320px);
  height: auto;
  display: block;
  object-fit: contain;
}

.socialMediaLinksContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -5px;
}

.socialMediaIcon {
    width: 32px;
    height: 32px; 

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socialMediaIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.legalBackground {
    background-color: var(--header-gold);
}

.legalTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0.2rem 0;
    gap: 5px;

    font-size: 12px;
    color: var(--header-text);
    font-weight: 700;
}

.legalTextContainer a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.legalTextContainer a:hover {
    text-decoration: underline;
}

@media (max-width: 640px) {
    .footerLinkContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 1.5rem;
    }

    .footerLinkContainer h2,
    .footerLinkContainer h3 {
        font-size: 1.75rem;
        line-height: 1.25;
    }

    .footerLinkContainer p {
        font-size: 1.05rem;
    }

    .footerContentTextContainer{
        flex-direction: column;
        font-size: 1rem;
        padding: 0;
    }

    .footerLinkList,
    .footerLinkList li {
        text-align: left; 
        font-size: 1.05rem;
        line-height: 1.6;
        gap: 0.15rem;
    }

    .footerLogo {
        width: min(250px, 50vw);
        margin: 0 auto; 
    }
}
