.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerContentBackground {
    background-color: var(--header-green);
}

.footerContentTextContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gold-main); 
}

.footerLink {
    color: inherit;
    text-decoration: none; 
    align-items: center; 
    display: flex;
    padding: 0.5rem;
}


.legalBackground {
    background-color: var(--header-gold);
}

.legalTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0.2rem 0;
    gap: 5px;

    font-size: 12px;
    color: var(--header-text);
    font-weight: 700;
}

.legalTextContainer a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.legalTextContainer a:hover {
    text-decoration: underline;
}