.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contactBackground {
    background-color: var(--gold-deep);
}

.contactContainer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0.1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactTextContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--header-text);
    text-decoration: none;
    font-weight: 700;
    gap: 7px;
}

.contactTextContainer img {
    height: 18px;
    width: 18px;
    object-fit: contain;
    display: block;
}

.contactNumberLink {
    text-decoration: underline;
}

.socialMediaLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.socialMediaIcon {
    width: 28px;
    height: 28px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.socialMediaIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    background-color: var(--header-text);
    border-radius: 50%;
}