.headerContainer {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid #222222;
}

.contactContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #222222
}