.navbarContainer {
    background-color: #1C1917;
}

.navbarTextContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarLink {
    color: #f2f2f2; 
    text-decoration: none; 
    align-items: center; 
    display: flex
}

.navbarLinksList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}