.navbarBackground {
    background-color: var(--header-green);
}

.navbarTextContainer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarLink {
    color: var(--gold-bright); 
    text-decoration: none; 
    align-items: center; 
    display: flex
}

.navbarLinksList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}

.bookNowButton {
    background-color: var(--gold-bright)
}