.navbarContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #222222
}

.navbarLinksList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}