---
import BookNowButton from "./BookNowButton.astro";
import NavbarLinks from "./NavbarLinks.astro";
import navbarStyles from "../../../styles/header/navbar.module.css"
---

<nav class={navbarStyles.navbarContainer}>
    <div class={navbarStyles.navbarTextContainer}>
        <a href="/" class={navbarStyles.navbarLink}>
            IMAGE
        </a>
        <NavbarLinks />
        <BookNowButton />
    </div>
</nav>