---
import NavbarLinks from "./NavbarLinks.astro";
import navbarStyles from "../../../styles/header/navbar.module.css"
---

<nav class={navbarStyles.navbarBackground}>
    <div class={navbarStyles.navbarTextContainer}>
        <a href="/" class={navbarStyles.navbarLink}>
            IMAGE
        </a>
        <NavbarLinks />
        <button class={navbarStyles.bookNowButton}>
            Book Now
        </button>
    </div>
</nav>