---
import navbarStyles from "../../../styles/header/navbarStyles.module.css"
---

<ul class={navbarStyles.navbarLinksList}>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/pricing">Pricing</a></li>
</ul>