---
import BookNowButton from "./BookNowButton.astro";
import NavbarLinks from "./NavbarLinks.astro";
---

<nav>
    <a href="/">
        IMAGE
    </a>
    <NavbarLinks />
    <BookNowButton />
</nav>